.features {
    margin: 140px 0;
    background: url("../img/dots_red.svg") top 24px left no-repeat;

    &__kernel {
        max-width: (293px * 3) + 220;
        margin: 0 auto;
    }

    &__preheader {
        color: var(--color-red);
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 4.2px;
        padding-bottom: (18em/20);
    }

    &__header {
        color: #031333;
        text-align: center;
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        padding-bottom: (72em/38);
    }

    &__grid {
        display: flex;
        justify-content: space-between;
        gap: 110px;
    }
}

.feature {
    text-align: center;

    &__pic {
        max-width: 60px;
        margin: 0 auto 32px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__title {
        color: #031333;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        padding-bottom: (16em/28);
    }

    &__text {
        color: #949494;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }
}
