.about {
    --spadd: 32px;
    --gap: 72px;
    $spadd: (32/1024 * 100vw);
    $gap: (72/1024 * 100vw);

    @media (max-width: 1024px) {
        --spadd: #{$spadd};
        --gap: #{$gap};
    }

    max-width: (1060px + 64);
    margin: 140px auto;
    @include mobile_vertical_rhythm;

    padding: 0 var(--spadd);

    display: flex;
    justify-content: space-between;
    gap: var(--gap);

    @media (max-width: 768px) {
        flex-direction: column-reverse;
        gap: var(--spadd);
    }

    &__kv {
        flex: 1 1 0;
    }

    &__info {
        flex: 1 1 0;
    }

    &__preheader {
        @extend .header_red;
        text-align: left;
        padding-left: 0;
    }

    &__header {
        // тут без миксина
        color: #031333;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        padding-bottom: (28em/48);

        @include fluid_typo_auto(1024, 48, 24);
    }

    &__text {
        color: #818181;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        padding-bottom: (24em/16);
    }

    &__button {
        padding-bottom: 1rem;
        a {
            @include button;
            padding: 18px;
            display: inline-block;
        }
    }
}

.about-kv {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    height: 100%;
    // overflow: hidden;

    @media (max-width: 414px) {
        flex-direction: column;
    }

    img {
        position: relative;
        z-index: 2;
    }

    &__pic1 {
        //
    }

    &__pic1-container {
        position: relative;

        &::after {
            content: "";
            width: 112px;
            aspect-ratio: 1/1;
            background: url("../img/dots_red_sq.svg") 0 0 no-repeat;
            background-size: cover;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateX(-30%) translateY(80%);
        }
    }

    &__pic2 {
        align-self: last baseline;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}
