.our-services {
    --sidepadd: 32px;
    --gap: 52px;

    $sp_mob: (32vw/1024 * 100);

    @media (max-width: 1024px) {
        --sidepadd: #{$sp_mob};
        --gap: #{$sp_mob};
    }

    background-color: var(--color-dark);
    color: #fff;
    padding: 120px var(--sidepadd);
    margin: 140px 0 160px;
    @include mobile_vertical_rhythm;

    @media (max-width: 768px) {
        padding: 10vw var(--sidepadd);
    }

    &__kernel {
        max-width: (514px * 2 + 52);
        margin: 0 auto;
    }

    &__preheader {
        @extend .header_red;
    }

    &__header {
        @extend .header_black;
        color: #fff;
    }

    &__grid {
        display: flex;
        gap: var(--gap);
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
}

.our-service {
    aspect-ratio: 514/639;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    font-size: 10px; // for paddings only
    padding: 4em 8em 8em 4em;

    @include fluid_typo_auto(1200, 10, 4);

    @media (max-width: 768px) {
        padding: 4em 4em 6em 4em;
    }

    &__pic {
        @include abs100;
        background-color: darkolivegreen;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                1deg,
                var(--color-red) 0.53%,
                rgba(0, 0, 0, 0) 101.68%
            );
        }

        img {
            @include abs100;
            object-fit: cover;
        }
    }

    &__title {
        z-index: 2;
        font-size: 30px;
        font-weight: 600;
        line-height: 140%;
        padding-bottom: (20em/30);

        @include fluid_typo_auto(768, 30, 20);
    }

    &__text {
        z-index: 2;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;

        @include fluid_typo_auto(400, 16, 14);
    }
}
