$team_members_grig_toggle: 768px;
$team_members_grig_toggle_n: 480px;

.team-members {
    --spadd: 16px;
    overflow: hidden;

    $gap1024: 16/1024 * 100vw;

    @media (max-width: 1024px) {
        --spadd: #{$gap1024};
    }

    background: url("../img/dots_red.svg") 0 100% no-repeat;
    margin: 128px 0;
    @include mobile_vertical_rhythm;

    @media (max-width: 1200px) {
        background-position: 0 50%;
    }

    &__kernel {
        max-width: (370px * 3 + 32 * 4); // sum of widths, gaps and paddings
        margin: 0 auto;
        padding: 0 var(--spadd);
    }

    &__meet {
        @extend .header_red;
    }

    &__title {
        @extend .header_black;
    }

    &__grid {
        display: flex;
        justify-content: space-between;

        @media (max-width: #{$team_members_grig_toggle}) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__grid-item {
        padding: 0 var(--spadd);

        @media (max-width: #{$team_members_grig_toggle}) {
            width: 50%;
        }

        @media (max-width: #{$team_members_grig_toggle_n}) {
            width: auto;
        }
    }
}

.team-member {
    visibility: hidden;
    &__photo {
        border-radius: 12px 12px 0 0;
        overflow: hidden;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__name {
        font-size: 20px;
        line-height: (24/20);
        font-weight: 600;
        padding: (24em/20) 0 (16em/20);

        @include fluid_typo_auto(1024, 20, 16);
    }

    &__position {
        color: #676972;
        font-size: 18px;
        line-height: 1;
        letter-spacing: -0.36px;
        padding-bottom: 28px;
        @include fluid_typo_auto(1024, 20, 14);
    }
}
